#page-home {
  height: 100vh;
}

#page-home header {
  height: 15%;

  padding: 0 5%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#page-home header a {
  text-decoration: none;

  color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;

  border: 2px solid var(--primary-color);
  border-radius: 5px;

  padding: 16px 40px;

  transition: 0.2s;
}

#page-home header a:hover {
  opacity: 0.8;
}

#page-home main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page-home main form {
  margin: 120px 0;

  width: 500px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;
  border-radius: 10px;
}

#page-home form h1 {
  margin-bottom: 24px;
}

#field-input {
  width: 100%;

  display: flex;
  flex-direction: column;

  margin-bottom: 16px;
}

#field-input label {
  margin-bottom: 8px;
}

#field-input input {
  width: 100%;
  height: 50px;
  padding: 0 20px;

  color: var(--text-color);
  font-size: 16px;

  border: 1px solid #ddd;
  border-radius: 5px;
}

#button {
  width: 100%;
  height: 50px;

  color: #fff;
  font-size: 16px;
  font-weight: bold;

  border: 0;
  background-color: var(--primary-color);
  border-radius: 5px;

  transition: 0.2s;
}

#button:hover {
  cursor: pointer;
  opacity: 0.8;
}

#common-questions {
  width: 100%;
  padding: 48px 5%;

  background-color: var(--primary-color);
}

#common-questions h2 {
  text-align: center;
  margin-bottom: 60px;

  color: #fff;
}

#row-cards {
  display: flex;
  justify-content: center;

  margin-top: 24px;
}

#card-questions {
  padding: 40px 24px;
  width: 500px;

  background-color: #fff;
  border-radius: 10px;
}

#card-questions + #card-questions {
  margin-left: 24px;
}

#card-questions h4 {
  color: var(--primary-color);
  margin-bottom: 16px;
}

@media (max-width: 700px) {
  #page-home main form {
    width: auto;
  }

  #row-cards {
    display: flex;
    flex-direction: column;
  }

  #card-questions {
    width: auto;
  }

  #card-questions + #card-questions {
    margin-left: 0;
    margin-top: 24px;
  }
}
